<div
    style="background-color:#f8faf6; width:100% !important; margin:0; padding:0;font-family:'Open Sans', sans-serif;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style> 
      body {
      margin:0;
      padding:0;
      }
      @media screen and (max-width: 765px) {
      .body p {
      font-size: 14px;
      line-height: 1.4;
      }
      }
   </style>
    <figure class="table" style="margin:0; width:100%">
        <table
            style="border-spacing: 0; padding: 0; margin:0 auto; max-width:600px; width:100%;"
            width="100%" height="100%" border="0"
            cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="10px"></td>
                    <td height="10px"></td>
                    <td
                        width="10px"></td>
                </tr>
                <tr>
                    <td class="header"
                        colspan="3"
                        style="padding:24px 24px 32px 24px;text-align:center;">
                        <img
                            src="https://mailservice.gruene-flotte.com/gruene-flotte-logo-starprinzip-gruen-schwarz.png"
                            alt="Grüne Flotte Logo"
                            width="136"
                            title="Grüne Flotte">
                    </td>
                </tr>
                <tr>
                    <td width="10px"></td>
                    <td style="text-align:center;">
                        <figure class="table" style="margin:0;">
                            <table class="content"
                                style="background-color:#ffffff; border-radius:10px; border: 1px solid #efefef;
                        box-shadow: 0px 0px 16px #35353512;
                        overflow:hidden; width:100%; max-width:600px;"
                                cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td class="body"
                                            style="font-size:16px;line-height:1.6;padding:24px;text-align:left;">
                                            <h1
                                                style="font-size:22px;margin-bottom:24px;margin-top:6px;line-height:1.4;text-align:left;font-weight:900;">
                                                <strong>{{{ EMAILTITLE
                                                    }}}</strong>
                                            </h1>
                                            {{{ EMAILCONTENT }}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </figure>

                        <figure class="table" style="margin:0;width:100%;">
                            <table
                                style="background-color:#82ba26; border: 1px solid #efefef;
                        box-shadow: 0px 0px 16px #35353512;border-radius:10px;border-spacing:0;margin-top:20px;overflow:hidden;"
                                cellpadding="0" cellspacing="0"
                                role="presentation" width="100%">
                                <tbody>
                                    <tr>
                                        <td class="footer"
                                            style="background-color:#82ba26;color:white;font-size:12px;line-height:8px;padding:24px;text-align:left;">
                                            <figure class="table"
                                                style="margin:0;width:100%;">
                                                <table
                                                    style="width: 100%; text-align: center;"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <p
                                                                    style="color:white;font-size:12px;line-height:1.6">
                                                                    <strong>Autohaus
                                                                        Schmid
                                                                        Waldkirch
                                                                        GmbH</strong>
                                                                    <br>
                                                                    Stahlhofstraße
                                                                    3
                                                                    <br>
                                                                    79183
                                                                    Waldkirch
                                                                    <br>
                                                                    <a
                                                                        style="color:#ffffff;"
                                                                        href="tel:076814740880">07681
                                                                        474 008
                                                                        0</a>
                                                                    <br>
                                                                    <a
                                                                        style="color:#ffffff;"
                                                                        href="mailto:info@gruene-flotte-carsharing.de">info@gruene-flotte-carsharing.de</a>
                                                                    <br>
                                                                    <a
                                                                        style="color:#ffffff;"
                                                                        href="www.gruene-flotte-carsharing.de"
                                                                        target="_blank">www.gruene-flotte-carsharing.de</a>
                                                                </p>
                                                                <p
                                                                    style="color:white;font-size:12px;line-height:1.6"><strong>Servicezeiten:</strong>
                                                                    Mo. - Fr.
                                                                    von 08:00
                                                                    bis 17:00
                                                                    Uhr
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </figure>
                                            <p
                                                style="font-size:10px;padding-top:10px;text-align:center;">
                                                © 2025 | Grüne Flotte
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </figure>
                    </td>
                    <td width="10px"></td>
                </tr>
                <tr>
                    <td height="10px"></td>
                </tr>
            </tbody>
        </table>
    </figure>
</div>